body {
    background-color: #000;
    color: rgb(194, 194, 194);
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.top {
    max-width: 800px;
    width: 85%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 47, 47, 0.6);
    padding: 0.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.top #searchId {
    height: 20px;
    width: 300px;
    margin-left: 20px;
    text-align: center;
    font-size: 120%;
    letter-spacing: 1px;
}

.main {
    max-width: 800px;
    width: 85%;
    height: 490px;
    margin: 0 auto;
    display: flex;
    padding: 0.5rem;
    background-color: rgba(49, 47, 47, 0.6);
}

.boxLeft {
    width: 53%;
    height: 100%;
}

.boxLeft .cards {
    width: 96%;
    height: 100%;
}

.boxRight {
    width: 47%;
    height: 100%;
}

.boxDetail {
    width: 100%;
    height: 35px;
    align-items: center;
    display: flex;
}

.boxRight .boxDetailLeft{
    padding-left: 10px;
    width: 28%;
}

.boxRight .boxDetailRight{
    width: 72%;
    
}

.boxBottom {
    max-width: 800px;
    width: 85%;
    height: 200px;
    margin: 0 auto;
    background-color: rgba(49, 47, 47, 0.6);
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 0.6px;
}